# File from Debian packaging output
debian/pywebdriver/
debian/pywebdriver.debhelper.log
debian/pywebdriver.substvars
debian/.debhelper/
debian/files
debian/changelog
debian/pywebdriver.prerm.debhelper
debian/pywebdriver.postrm.debhelper
debian/pywebdriver.postinst.debhelper
debian/pywebdriver.triggers
debian/tmp/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
local/
var/
*.egg-info/
.installed.cfg
*.egg
venv/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log

# Sphinx documentation
docs/_build/

# automatic build
debuild.sh
debian/changelog
debian/debhelper-build-stamp
.pybuild/

# Config file
config.ini
config/config.ini

# Cert files
*.pem
