include LICENSE
include VERSION
include README.md
include requirement.txt
recursive-include config *
recursive-include pywebdriver/templates *
recursive-include pywebdriver/translations/fr/LC_MESSAGES *
recursive-include pywebdriver/static/images *
