wheel
#jcconv
simplejson
Flask
Flask-Babel
Flask-cors
pyusb
pyserial
pif
Pillow
netifaces
pycups
pymtp
#gunicorn>=20.0.4
setuptools>=34
pip>=10
git+https://github.com/akretion/py-xml-escpos.git@py3
#git+https://github.com/akretion/pypostelium.git@master
git+https://github.com/akretion/pyposdisplay.git@master
