jcconv
simplejson
Flask
Flask-Babel
Flask-cors
pyusb
pyserial
pif
Pillow
netifaces
pycups
pymtp
gunicorn>=19.8
setuptools>=34
pip>=10
git+https://github.com/akretion/py-xml-escpos.git@8.0-slip-support
git+https://github.com/akretion/pypostelium.git@master
