[Unit]
Description=Pywebdriver
After=network.target

[Service]
PIDFile=/var/run/pywebdriver.pid
ExecStart=/usr/bin/python /usr/bin/pywebdriverd
User=pywebdriver
Group=nogroup
Restart=always

[Install]
WantedBy=multi-user.target
