server {
    listen                      443 ssl;
    server_tokens               off;
    keepalive_timeout           60;
    client_max_body_size        200m;
    access_log                  /var/log/nginx/pywebdriver-access.log;
    error_log                   /var/log/nginx/pywebdriver-access.log;
    ssl_certificate             /etc/ssl/certs/ssl-cert-snakeoil.pem;
    ssl_certificate_key         /etc/ssl/private/ssl-cert-snakeoil.key;
    ssl_ciphers                 RC4:HIGH:!aNULL:!MD5;
    ssl_protocols               SSLv3 TLSv1;
    ssl_prefer_server_ciphers   on;
    ssl_session_cache           shared:SSL:10m;
    ssl_session_timeout         10m;
    add_header                  Strict-Transport-Security max-age=2592000;
    proxy_buffers               16 64k;
    proxy_buffer_size           128k;
    proxy_set_header            Host $host;
    proxy_set_header            X-Real-IP $remote_addr;
    proxy_set_header            X-Forward-For $proxy_add_x_forwarded_for;
    proxy_set_header            X-Forwarded-Proto https;
    proxy_redirect              off;
    location / {
        proxy_pass              http://localhost:8069;
        proxy_read_timeout      60m;
    }
}
