[Install]
WantedBy=multi-user.target

[Unit]
Description=Pywebdriver
After=network.target

[Service]
User=pywebdriver
Group=ssl-cert
ExecStart=/opt/venvs/pywebdriver/bin/gunicorn -c /opt/venvs/pywebdriver/lib/python2.7/site-packages/pywebdriver/wsgi.py pywebdriver.wsgi
ExecReload=/bin/kill -HUP $MAINPID
ExecStop=/bin/kill -TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
