#!/usr/bin/make -f
#source_dir = ${CURDIR}/debian/source
#include_binaries = ${source_dir}/include-binaries
SNAKE=/usr/bin/python3

%:
	dh $@ --with python-virtualenv --with systemd --buildsystem=pybuild

override_dh_virtualenv:
	dh_virtualenv --python=$(SNAKE) --builtin-venv

override_dh_strip:
	dh_strip --exclude=/site-packages/

override_dh_shlibdeps:
	dh_shlibdeps --exclude=/site-packages/
#
#override_dh_strip:
#	dh_strip --exclude=_imaging
#
#override_dh_shlibdeps:
#	dh_shlibdeps \
#	    --exclude site-packages/Pillow.libs \
#	    --exclude site-packages/PIL.libs
