[localization]
; Set the default locale for the PyWebDriver Software
; It will impact Web Pages translations and receipts language
locale=fr

[flask]
; Set The port of the webserver 'dev' mode
host=127.0.0.1
port=8069
; Set the origins allow to commuicate with pywebdriver, default all (*)
cors_origins=*
; Enable this value for debug works
debug=true
; Set this to false to disable the automatic reloader
; in Flask's autoreload mechanism conflicts with some driver code
use_reloader=false

[application]
; Set to True if you want that the PyWebDriver Software print a status receipt
; when the service is started
print_status_start=false
; List the drivers to enable
; You should always enable the driver 'odoo8' if you use Odoo v8+
; because otherwize the POSbox logo will be red in Odoo POS frontend
; and nothing will work
drivers = odoo8,telium_driver,escpos_driver

[odoo]
; [7.0] Define default value for the receipt send by Odoo if not defined
precision_price=2
precision_money=2
precision_quantity=3
orderline_price_with_tax=false

; [8.0] Define this value if you want to encode the xml receipt send by Odoo
force_receipt_encoding=utf8

[escpos_driver]
device_type=usb
; If your POS printer has a serial interface, comment the line above
; and uncomment the lines below
;device_type=serial
;serial_device_name=/dev/ttyS1 # If you are on linux
;serial_device_name=COM1 # If you are on windows
;serial_baudrate=9600
;serial_bytesize=8
;serial_timeout=1

[signature_driver]
signature_file=signature.svg
download_path=/tmp

[display_driver]
; driver_name=epson
device_name=/dev/ttyUSB0
device_rate=9600
device_timeout=0.05

[telium_driver]
device_name=/dev/ttyACM0
device_rate=9600

[serial_driver]
port=/dev/ttyS0
baudrate=9600
bytesize=8
parity=N
stopbits=1
rtscts=false
xonxoff=false
timeout=5
eol_cr=true
eol_lf=true

; if sections loggers, handlers and formatters are present
; configure the logging module using logging.config.fileConfig
; see https://docs.python.org/3/library/logging.config.html#logging-config-fileformat

[loggers]
keys=root

[logger_root]
level=DEBUG
handlers=hand01

[handlers]
keys=hand01

[handler_hand01]
class=StreamHandler
level=NOTSET
formatter=form01
args=(sys.stdout,)

[formatters]
keys=form01

[formatter_form01]
format=%(asctime)s %(levelname)8s %(message)s
datefmt=
class=logging.Formatter
