name: CI

on:
  pull_request:
    branches: [master]
  push:
    branches: [master]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
      - uses: pre-commit/action@v2.0.0
        #  tests:
        #    runs-on: ubuntu-latest
        #    strategy:
        #      matrix:
        #        python-version: ["3.6", "3.7", "3.8", "3.9"]
        #    steps:
        #      - uses: actions/checkout@v2
        #      - uses: actions/setup-python@v2
        #        with:
        #          python-version: "${{ matrix.python-version }}"
        #      - name: Install tox
        #        run: python -m pip install tox tox-gh-actions
        #      - name: Run tox
        #        run: python -m tox
        #      - uses: codecov/codecov-action@v1
